* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 100%;
  font-family: 'Roboto Mono', monospace;
}

/* general layout */
header {
  background-color: red;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}

header h1 {
  font-size: 3em;
}
main {
  height: calc(100vh - 10vh);
  background-color: orange;
}

.main-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  width: 100%;
}
.input input {
  outline: none;
  padding: 0.5em;
  width: 60%;
  margin-right: 0.5em;
  font-size: 1.5em;
  border-radius: 4em;
}
.input button {
  width: calc(100% - 60%);
  cursor: pointer;
  font-size: 1.5em;
  border-radius: 4em;
  background-color: orangered;
  color: white;
}

ul {
  margin-top: 2em;
  width: 100%;
}

ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1em;
  padding: 0.5em 2em;
  border: 2px solid black;
  border-radius: 4em;
  width: 100%;
  background: rgb(245,238,238);
  background: linear-gradient(90deg, rgba(245,238,238,1) 0%, rgba(205,12,12,1) 100%);
}

li i {
  cursor: pointer;
  font-size: 3em;
  color: white;
}

div.todo-text {
  text-transform: uppercase;
  cursor: pointer;
  font-size: 2em;
}

/* utility classes */
.true {
  text-decoration: line-through;
}

.flase {
  text-decoration: none;
}